.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: rgb(82, 99, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  letter-spacing: 2px;
  z-index: 3;
}

.footer__logo {
  background-color: aliceblue;
  padding: 0;
  width: 170px;
  max-height: 75px;
  font-size: 0;
  display: inline-block;
}
