.header {
  position: fixed;
  top: o;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgb(82, 99, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  letter-spacing: 2px;
  z-index: 3;
}

a {
  color: white;
  text-decoration: none;
}

.header__logo {
  background-color: aliceblue;
  padding-top: 5px;
  width: 180px;
  max-height: 80px;
  font-size: 0;
  display: inline-block;
}

.header__nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: auto;
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
  div.header__nav {
    display: none;
  }
}
